<%
	let link = `https://music-list-lol.onrender.com/`;
	let desc = `NoDMCA searcher with spotify-api`;
	let favicon_path = `../../public/images/favicon.ico`;
	let css_path = `../../public/styles/global.css`;
	let css_prod_path = `../../public/styles/global.min.css`;
	let title = `MusicList`;

	const keywords = [
		"Music", "soundcloud", "NoDMCA", "twitch",
		"spotify", "spotify-api", "nodmca playlist",
		"twitch-dmca"
	].join(', ');
%>

<head>
	<!-- Meta -->
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="title" content="Music List" />
	<meta name="author" content="fxhxyz" />
	<meta name="description" content="<%- desc -%>" />
	<meta name="keywords" content="<%- keywords -%>" />
	<meta name="image" content="<%- favicon_path -%>" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="address=no" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Music List" />
	<meta property="og:description" content="<%- desc -%>" />
	<meta property="og:image" content="<%- favicon_path -%>" />
	<meta property="og:image:alt" content="chatting" />
	<meta property="og:url" content="<%- link -%>" />
	<meta name="robots" content="index" />
	<!-- /Meta -->

	<!-- Link -->
	<link rel="canonical" href="<%- link -%>" />
	<link rel="preconnect" href="<%- link -%>" />
	<link rel="prerender" href="<%- link -%>" />
	<link rel="preload" href="<%- css_prod_path -%>" as="style" />
	<!-- /Link -->

	<!-- Css -->
	<link type="text/css" rel="stylesheet" href="<%- css_prod_path -%>" />
	<!-- /Css -->

	<!-- Title and favicon -->
	<link type="image/x-icon" rel="shortcut icon" href="<%- favicon_path -%>" />
	<title><%- title -%></title>
	<!-- /Title and favicon -->
</head>
