<%
  let title = `Server Error`;
  let css_dev_path = `../../public/styles/global.css`;
	let css_prod_path = `../../public/styles/global.min.css`;
%>

<%- include(`./partials/doctype.ejs`) -%>
  <head>
    <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="fxhxyz" />
		<link type="image/x-icon" rel="shortcut icon" href="./public/images/favicon.ico" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="darkreader" content="NO-DARKREADER-PLUGIN" />
		<meta name="robots" content="noindex, nofollow" />
    <link href="https://unpkg.com/modern-normalize@2.0.0/modern-normalize.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="<%- css_prod_path -%>" />
    <title><%- title -%></title>
  </head>
	<body>
    <%- include(`./partials/noscript.ejs`) -%>
		<div class="wrapper">
			<%- include(`./partials/header.ejs`) -%>
			<main>
        <div class="error">
          <h1 class="error__title"><%= statusCode %></h1>
          <p class="error__text"><%= message %></p>
        </div>
      </main>
			<%- include(`./partials/footer.ejs`) -%>
		</div>
    <%- include('./partials/script.ejs') -%>
	</body>
</html>
