<!-- HTML version -->
<%- include(`./partials/doctype.ejs`) -%>
<!-- /HTML version -->

	<!-- head -->
	<%- include(`./partials/head.ejs`) -%>
	<!-- /head -->

	<body>
		<!-- noscript -->
		<%- include(`./partials/noscript.ejs`) -%>
		<!-- /noscript -->

		<!-- header -->
		<%- include(`./partials/header.ejs`) -%>
		<!-- /header -->

		<!-- main -->
		<%- include(`./partials/main.ejs`) -%>
		<!-- /main -->

		<!-- footer -->
		<%- include(`./partials/footer.ejs`) -%>
		<!-- /footer -->
	</body>
</html>
