<%- include(`./partials/doctype.ejs`) -%>

	<!-- head -->
	<%- include(`./partials/head.ejs`) -%>
	<!-- /head -->

	<body>
		<!-- noscript -->
		<%- include(`./partials/noscript.ejs`) -%>
		<!-- /noscript -->

		<div class="wrapper">
			<!-- header -->
			<%- include(`./partials/header.ejs`) -%>
			<!-- /header -->

			<!-- main -->
			<%- include(`./partials/main.ejs`) -%>
			<!-- /main -->

			<!-- footer -->
			<%- include(`./partials/footer.ejs`) -%>
			<!-- /footer -->
		</div>

			<!-- scripts -->
			<%- include('./partials/script.ejs') -%>
			<!-- /scripts -->
	</body>
</html>
